/* import reset css */
@import url("./src/css/reset.css");
@import url("./src/css/header.css");
@import url("./src/css/footer.css");

:root {
  --common-blue: #1d2552;
}
/* Reusable classes start */
.full-width {
  padding-left: 20px;
  padding-right: 20px;
}
@media only screen and (max-width: 767px) {
  .full-width {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.container {
  width: 100%;
  max-width: 1620px;
  margin: 0 auto;
}
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.flex {
  display: flex;
}
.wrap {
  flex-wrap: wrap;
}
.nowrap {
  flex-wrap: nowrap;
}
.flex-col {
  flex-direction: column;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.align-self-start {
  align-self: flex-start;
}
.all-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hidden {
  overflow: hidden;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.ml-left-auto {
  margin-left: auto;
}
.transtion-3s {
  transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
}
.text-center {
  text-align: center;
}
.underline {
  text-decoration: underline;
}
.btn,
button {
  --bg: #3a52a6;
  --color: #ffffff;
  --radius: 43px;
  border: none;
  outline: none;
  background: var(--bg);
  color: var(--color);
  border-radius: var(--radius);
  -webkit-border-radius: var(--radius);
  -moz-border-radius: var(--radius);
  -ms-border-radius: var(--radius);
  -o-border-radius: var(--radius);
  padding: 14px 42px;
  cursor: pointer;
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
}
.btn:hover,
button:hover {
  --bg: #23336c;
}

/* Main content css start */
.main-content-full-width {
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  background: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url(./src/img/photo-1533460004989-cef01064af7e.avif);
  background-size: cover;
}
/* Main content css end */

/* Disclaimer section css start */
.disclaimer-full-width {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--common-blue);
}
.disclaimer-content p {
  color: white;
  line-height: 1.5;
}

@media only screen and (max-width: 1366px) {
  .disclaimer-content p {
    font-size: 14px;
  }
}

@media only screen and (max-width: 767px) {
  .disclaimer-content p {
    font-size: 12px;
  }
}
/* Disclaimer section css end */
