:root {
  --common-blue: #1d2552;
}

.footer-full-width {
  background: var(--common-blue);
  padding-top: 10px;
  padding-bottom: 10px;
}
footer * {
  color: white;
}

.footer p {
  font-size: 14px;
}
