.footer-full-width {
  background: var(--common-blue);
  padding-top: 10px;
  padding-bottom: 10px;
}
footer * {
  color: white;
}

.footer p {
  font-size: 14px;
}

@media only screen and (max-width: 767px) {
  .footer p {
    font-size: 12px;
  }
}
